#game-start {
    font-family: 'Livvic', sans-serif;
font-size: 20px;
}

body {
    text-align: center;
    background: url("../images/background.jpeg");
    background-size: 100%;
    font-family: 'Livvic', sans-serif;
    font-size: 20px;
}

#countdown {
    font-weight: bold;
    color: darkred;
}